<div id="sidebar">
    <div class="inner">

        {{!-- Nav - partials/navigation.hbs --}}
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}

        {{!-- Recent posts --}}
        {{#get "posts" limit="3" filter="featured:true" as |mini_post|}}
            {{#if mini_post }}
                <section>
                    <header class="major">
                        <h2>Mais acessados</h2>
                    </header>
                    <div class="mini-posts">
                        {{!-- We're just grabbing the 3 latest posts here but you can change
                        this to filter for a specific tag or order depending on what you want.
                        More info: https://docs.ghost.org/api/handlebars-themes/helpers/get/ --}}                
                            {{#foreach mini_post}}
                            <article>
                                <h3><a href="{{url}}">{{title}}</a></h3>
                                <p>{{excerpt words="15"}}</p>
                            </article>
                            {{/foreach}}
                    
                    </div>
                </section>
            {{/if}}
        {{/get}}

        {{!-- Tags --}}
        <section>
            <header class="major">
                <h2>Tags</h2>
            </header>
            <div class="tags">
                <ul>
                    {{#get "tags" limit="all"}}
                        {{#foreach tags}}
                            <li><a href="{{url}}" title="{{name}}">{{name}}</a></li>
                        {{/foreach}}
                    {{/get}}
                </ul>
            </div>            
        </section>

        {{!-- Footer --}}
        <footer id="footer">
            <p class="copyright">&copy; {{@site.title}} - Todos os direitos reservados<br>
            Design: <a href="https://html5up.net" target="_blank" rel="noopener">HTML5 UP</a>, Publicado com <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></p>
        </footer>

    </div>
</div>
